1<!-- Footer -->
{#<footer class="footer" >#}
    {#    <div class="container" style="height: 50px">#}
    {#        <div class="row">#}
    {#            <!-- Footer Column -->#}
    {#            <div class="col-lg-3 footer_col">#}
    {#                <div class="footer_about">#}
    {#                    <div class="logo_container footer_logo">#}
    {#                        <div class="logo">#}
    {#                            <a href="#">#}
    {#                                <div class="logo_line_1"><span>in</span>vest</div>#}
    {#                                <div class="logo_line_2">Blockchain</div>#}
    {#                                <div class="logo_img"><img src="{{ asset ('assets') }}/images/logo.png" alt=""></div>#}
    {#                            </a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <p class="footer_about_text">Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit. Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec.</p>#}
    {#                </div>#}
    {#            </div>#}

    {#            <!-- Footer Column -->#}
    {#            <div class="col-lg-3 footer_col">#}
    {#                <div class="footer_links">#}
    {#                    <div class="footer_title">Useful Links</div>#}
    {#                    <ul>#}
    {#                        <li><a href="#">Home</a></li>#}
    {#                        <li><a href="#">About</a></li>#}
    {#                        <li><a href="#">Case Studies</a></li>#}
    {#                        <li><a href="#">Services</a></li>#}
    {#                        <li><a href="#">Consulting</a></li>#}
    {#                        <li><a href="#">Commodities</a></li>#}
    {#                        <li><a href="#">Insurance</a></li>#}
    {#                        <li><a href="#">Trades</a></li>#}
    {#                        <li><a href="#">Planning</a></li>#}
    {#                        <li><a href="#">Finance</a></li>#}
    {#                        <li><a href="#">Crypto</a></li>#}
    {#                    </ul>#}
    {#                </div>#}
    {#            </div>#}

    {#            <!-- Footer Column -->#}
    {#            <div class="col-lg-6 footer_col">#}
    {#                <div class="footer_newsletter">#}
    {#                    <div class="footer_title">Subscribe to our newsletter</div>#}
    {#                    <form action="#" class="footer_newsletter_form">#}
    {#                        <input type="email" class="footer_newsletter_input" placeholder="Your E-mail" required="required">#}
    {#                        <button class="footer_newsletter_button" type="submit">subscribe</button>#}
    {#                    </form>#}
    {#                    <div class="footer_newsletter_text">Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci, lobortis egestas sem. Morbi ut dapibus dui. Sed ut iaculis elit. Integer ut imperdiet erat. Quisque ultricies lectus tellus, eu tristique magna pharetra nec.</div>#}
    {#                    <div class="footer_social">#}
    {#                        <ul>#}
    {#                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>#}
    {#                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>#}
    {#                            <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>#}
    {#                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
    {#                        </ul>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}

    {#        </div>#}
    {#    </div>#}

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-1 order-2">
                    <div class="copyright_content d-flex flex-row align-items-center justify-content-start">
                        <div class="cr"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 order-md-2 order-1">
                <nav class="footer_nav d-flex flex-row align-items-center justify-content-md-end">
                    <div class="footer_social">
                        <ul>
                            <li><h5 style="font-family:arial-black; color: white ">Find us on social networks:</h5></li>
                            <li><a href="{{ setting[0].twitter }}"><i class="fa fa-twitter" aria-hidden="true" style="color: #1b6d85 "></i></a></li>
                            <li><a href="{{ setting[0].facebook }}"><i class="fa fa-facebook" aria-hidden="true"style="color: #0a3c93 "></i></a></li>
                            <li><a href="{{ setting[0].instagram }}"><i class="fa fa-instagram" aria-hidden="true"style="color: #6f42c1 "></i></a></li>
                            <li><a href="/www.linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"style="color: cornflowerblue "></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {#    </div>#}
{#</footer>#}