{% extends 'adminbase.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Yeni Category  </h2>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ include('admin/category/_form.html.twig') }}
                    <br>
                    <div class="col-md-2">
                        <a href="{{ path('admin_category_index') }}" class="btn btn-primary btn-block">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
    </div>
{% endblock %}
